mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 100%;
  width: 100%;
  img {
    height: auto;
    width: 100%;
  }
}
